@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1, h2, h3, h4, h5, h6{
        @apply text-black;
    }

  h1 {
    @apply text-[clamp(1.75rem,1.1578947368421053rem+2.9605263157894735vw,4rem)] font-bold;
  }
  h2 {
    @apply text-[clamp(1.5rem,1.236842105263158rem+1.3157894736842104vw,2.5rem)] font-bold;
  }
  h3 {
    @apply text-[clamp(1.75rem,1.6842105263157894rem+0.3289473684210526vw,2rem)] font-bold;
  }
  h4 {
    @apply text-[1.5rem] font-bold;
  }
  h5 {
    @apply text-[1.25rem] font-bold;
  }
  h6 {
    @apply text-[1rem] font-semibold;
  }
  * {
    @apply scroll-smooth;
  }
  body {
    @apply text-custom-black bg-white overflow-x-hidden font-manrope font-medium;
  }
  p,
  span,
  a,b {
    @apply text-[14px];
    
  }
  a{
    @apply hover:text-custom-green
  }

  input,
  textarea {
    @apply w-full outline-none bg-[rgba(255,255,255,0.1)] text-inherit p-3 rounded-md;
  }
  input,
  textarea {
    @apply focus:invalid:border-2 focus:invalid:border-rose-300 focus:valid:border-2 focus:valid:border-custom-green;
  }
}
@layer utilities {
  .headerSectionAnimation {
    background: #ffffffaf;
    backdrop-filter: blur(20px);
  }
  .primaryButton{
    @apply px-6 py-2.5 bg-custom-green text-white text-[1rem] font-bold border border-custom-green rounded-md duration-500 hover:bg-custom-half-green hover:text-custom-green
  }
  .categoryTabButton{
    @apply px-7 py-2.5 rounded-md duration-500 bg-transparent hover:shadow-md border border-custom-half-green
  }
  .activeCategoryTabButton{
    @apply bg-custom-half-green border-custom-green rounded-full
  }
  .cardButton{
    @apply px-4 text-custom-green rounded-md duration-500 bg-transparent hover:shadow-md border border-custom-half-green

  }
  .activeCardButton{
    @apply text-custom-green bg-custom-half-green border-custom-green

  }
  .modalButton{
    @apply py-2.5 bg-custom-half-green text-custom-green hover:text-white text-[1rem] font-bold border border-custom-green rounded-md duration-500 hover:bg-custom-green 
  }
  .sortButton{
    @apply px-6 py-2.5 bg-custom-green text-white text-[1rem] font-bold border border-custom-green rounded-md duration-500 hover:shadow-md cursor-pointer
  }
  .activeSortButton{
    @apply text-custom-green bg-custom-half-green
  }


  .footerCopyRights a {
    animation-name: glowMyPortfolioLink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.28, -0.08, 0.61, 1.04);
  }
  
  @keyframes glowMyPortfolioLink {
    
    0% {
      color: #11959e;
    }
  
    25% {
      color:  #14b9c5;
    }
    50% {
      color:  #11b1bc;
    }
    75% {
      color:  #0fa0aa;
    }
    100% {
      @apply text-[#0E7A81]
    }
  }


}
